<form>
    <div class="header-input">
        <div class="input-box">
            <h6 class="text-type">اسم الحساسية:</h6>
            <input
                type="text"
                [(ngModel)]="currentAllergy.name"
                name="allergyName"
                required />
        </div>
        <div class="header-btn">
            <ng-container *ngIf="isSaving; else notSaving">
                <div
                    class="btn primaryColor"><app-loading-image></app-loading-image></div>
            </ng-container>
            <ng-template #notSaving>
                <ng-container *ngIf="isEdit; else notEdit">
                    <button type="button" class="btn primaryColor"
                        (click)="onSave()">حفظ</button>
                    <button type="button" class="btn closeColor"
                        (click)="resetForm()">إلغاء</button>
                </ng-container>
                <ng-template #notEdit>
                    <button type="button" class="btn primaryColor"
                        (click)="onAdd()">إضافة</button>
                </ng-template>
            </ng-template>
        </div>
    </div>
</form>

<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>اسم الحساسية</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <div class="primaryColor btn loading" *ngIf="isLoading">
            <app-loading-image></app-loading-image>
        </div>
        <tbody *ngIf="!isLoading">
            <tr *ngFor="let allergy of allergies; let index = index">
                <td>{{ index + 1 }}</td>
                <td>{{ allergy.name }}</td>
                <td>
                    <button class="table-btn" id="icon-edit"
                        (click)="Edit(allergy)">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button class="table-btn" id="icon-delete"
                        (click)="deleteAllergy(allergy.allergyId!)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!isLoading && allergies.length === 0" class="no-data">
        <p>No Allergies found.</p>
    </div>
</div>
