<div class="card-box whiteColor shadowColor">
        <h1>تسجيل الدخول</h1>
        <div class="card primaryColor textWhiteColor" id="card-1" [routerLink]="'/login-user'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <h3>موظف</h3>
        </div>
        <div class="card primaryColor textWhiteColor" id="card-2" [routerLink]="'/login-patient'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <h3>مريض</h3>
        </div>
</div>
