<form>
    <div class="header-input">
        <div class="input-box">
            <h6 class="text-type">اسم العلاج:</h6>
            <input
                type="text"
                [(ngModel)]="currentMedicine.name"
                name="medicineName"
                autocomplete="off"
                required />
        </div>
        <div class="input-box small-input">
            <h6 class="text-type">العيار:</h6>
            <input
                type="text"
                [(ngModel)]="currentMedicine.dose "
                name="medicineDose"
                required
                />
        </div>
        <div class="header-btn">
            <ng-container *ngIf="isSaving; else notSaving">
                <div
                    class="btn primaryColor"><app-loading-image></app-loading-image></div>
            </ng-container>
            <ng-template #notSaving>
                <ng-container *ngIf="isEdit; else notEdit">
                    <button type="button" class="btn primaryColor"
                        (click)="onSave()">حفظ</button>
                    <button type="button" class="btn closeColor"
                        (click)="resetForm()">إلغاء</button>
                </ng-container>
                <ng-template #notEdit>
                    <button type="button" class="btn primaryColor"
                        (click)="onAdd()">إضافة</button>
                </ng-template>
            </ng-template>
        </div>
    </div>
</form>

<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>اسم العلاج</th>
                <th>العيار</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <div class="primaryColor btn loading" *ngIf="isLoading">
            <app-loading-image></app-loading-image>
        </div>
        <tbody *ngIf="!isLoading">
            <tr *ngFor="let medicine of medicines; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ medicine.name }}</td>
                <td>{{ medicine.dose }}</td>
                <td>
                    <button class="table-btn" id="icon-delete"
                    (click)="deleteMedicine(medicine.medicineId!)">
                    <i class="bi bi-trash"></i>
                </button>
                    <button class="table-btn" id="icon-edit"
                        (click)="Edit(medicine)">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                </tr>
        </tbody>
    </table>
</div>
