.logo {
    display: block;
    width: 460px;
}

/* Tablet and smaller screens */
@media (max-width: 768px) {
    .logo {
        width: 360px;
    }
}

/* Mobile screens */
@media (max-width: 480px) {
    .logo {
        width: 260px;
    }
}
