<table>
    <thead>
        <tr>
            <th>#</th>
            <th>اسم المريض</th>
            <th>رقم المريض</th>
            <th>حالة المريض</th>
            <th>فئة المريض</th>
            <th>الإجراءات</th>
        </tr>
    </thead>
    <div class="primaryColor btn loading" *ngIf="isLoading"><app-loading-image></app-loading-image></div>
    <tbody>
        <tr *ngFor="let record of records; let index = index">
            <td>{{ index + 1 }}</td>
            <td>{{ record.patient.patientName }}</td>
            <td>{{ record.patient.patientId }}</td>
            <td>{{ record.patientType }}</td>
            <td>{{ record.patient.patientClass }}</td>
            <td>
                <button class="table-btn" id="icon-edit"
                (click)="EditModal(record)">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="table-btn" id="icon-delete"
                (click)="deleteRecord(record)">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
    <div *ngIf="!isLoading && records.length==0" class="no-data">
        لا توجد سجلات طبية لهذا اليوم.
    </div>
</table>

@if(isEdit)
{
    <app-edit-dialog
        [record]="record"
        (save)="saveUpdatedRecord()"
        (close)="closeEditModal()">
    </app-edit-dialog>
}