<div class="nav-box">
    <div class="table-title">
        <div id="close-btn" (click)="closeTab()"><i class="bi bi-x-lg"></i></div>
        <h2>متابعة القراءات</h2>
    </div>

    <input type="radio" name="slider" id="tabBP-1" checked (change)="selectTab('B.P')"/>
    <input type="radio" name="slider" id="tabS-2" (change)="selectTab('diabetes')"/>
    

    <nav>
        <label for="tabBP-1" class="tab-1">قراءات ضغط الدم</label>
        <label for="tabS-2" class="tab-2">قراءات السكري</label>
        <div class="slider primaryColor"></div>
    </nav>
</div>