<div class="container shadowColor">
    <div *ngIf="showTable">
        <div class="table-title">
            <h2>سجل العيادة</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <th>الرقم</th>
                    <th>الاسم</th>
                    <th>الرقم الجامعي/الوظيفي</th>
                    <th>الحالة</th>
                    <th>الفئة</th>
                    <th>عرض</th>
                </tr>
            </thead>
            <div class="loading primaryColor btn"
                *ngIf="isLoading"><app-loading-image></app-loading-image></div>
            <tbody *ngIf="!isLoading">
                <tr *ngFor="let record of records; let index = index">
                    <td>{{ index + 1 }}</td>
                    <td>{{ record.patient.patientName }}</td>
                    <td>{{ record.patient.patientId }}</td>
                    <td>{{ record.patientType }}</td>
                    <td>{{ record.patient.patientClass }}</td>
                    <td>
                        <button
                            class="table-btn"
                            id="icon-edit"
                            (click)=" onViewDetails(record)">
                            <i class="bi bi-eye"></i>
                        </button>

                    </td>
                </tr>
            </tbody>
            <div *ngIf="!isLoading && records.length === 0" class="no-data">
                لا يوجد مراجعين عيادة لهذا اليوم.
            </div>
        </table>
    </div>
     <div *ngIf="showTabs">
        <app-clinic-tab 
            (close)="closeAll()"
            (tabChange)="onTabChange($event)">
        </app-clinic-tab>
        <div>
            <div *ngIf="selectedTab === 'patient-info'">
                <app-patient-info-display [patient]="selectedRecord!.patient!"></app-patient-info-display>
            </div>
            <div *ngIf="selectedTab === 'prescription'">
                <app-prescription 
                [prescription]="selectedRecord!.prescription!"
                [patientName]="selectedRecord!.patient.patientName!"
                [MedicalRecordId]="selectedRecord!.medicalRecordId!"
                >
                </app-prescription>
            </div>
            <div *ngIf="selectedTab === 'medical'">
                <app-clinic-procedure 
                [medicalProcedures]="selectedRecord!.medicalProcedures!"
                [medicalRecordId]="selectedRecord!.medicalRecordId!"
                [patientType]="selectedRecord?.patientType!">
                </app-clinic-procedure>
            </div>
            <div *ngIf="selectedTab === 'reports'">
                <app-report-section 
                [patient]="selectedRecord!.patient!"
                [enterDate]="selectedRecord?.enterDate!">
            </app-report-section>
            </div>
        </div>

    </div>

