/* Active tab text color */
#tabP-1:checked ~ .nav-box nav label .tab-1,
#tabH-2:checked ~ .nav-box nav label .tab-2,
#tabT-3:checked ~ .nav-box nav label .tab-3 {
    color: #AEDDDC;
}
/* Tab slider position */
#tabP-1:checked ~ nav .slider {
    right: 0%;
    width: 25%;
}

#tabH-2:checked ~ nav .slider {
    right: 27%;
    width: 25%;
}

#tabT-3:checked ~ nav .slider {
    right: 55%;
    width: 43%;
}
