header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60px;
    width: 100%;
    box-sizing: border-box; 
}

.top-center {
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    white-space: nowrap; 
    max-width: 50%; 
    overflow: hidden;
    margin-top: 50px;
}

.top-right {
    text-align: right; 
    margin-top: 50px;
}

/* Responsive adjustments */
@media (max-width: 1335px) { 
    header {
        padding: 0 15px; 
    }

    .top-center {
        max-width: 50%;
        margin-top: 12%;
    }
}
/* Responsive adjustments */
@media (max-width: 1024px) { 
    header {
        padding: 0 15px;
    }

    .top-center {
        max-width: 40%;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .top-center {
        left: 0;
        transform: none; 

    }

    .top-right {
        margin-left: 0;
        margin-top: 10px;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px; 
    }
    .top-right {
        font-size: 12px; 
        margin-right: 0;
    }
}


