header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60px;
    width: 100%;
    box-sizing: border-box; 
}


.top-right {
    text-align: right; 
    margin-top: 50px;
}

/* Responsive adjustments */
@media (max-width: 1335px) { 
    header {
        padding: 0 15px; 
    }

}
/* Responsive adjustments */
@media (max-width: 1024px) { 
    header {
        padding: 0 15px;
    }

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }



    .top-right {
        margin-left: 0;
        margin-top: 10px;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px; 
    }
    .top-right {
        font-size: 12px; 
        margin-right: 0;
    }
}


