<form>
    <div class="header-input">
        <div class="input-box">
            <h6 class="text-type">اسم المرض:</h6>
            <input
                type="text"
                [(ngModel)]="currentDisease.name"
                name="diseaseName"
                required />
        </div>
        <div class="header-btn">
            <ng-container *ngIf="isEdit; else notEdit">
                <button type="button" class="btn primaryColor"
                    (click)="onSave()">حفظ</button>
                <button type="button" class="btn closeColor"
                    (click)="resetForm()">إلغاء</button>
            </ng-container>
            <ng-template #notEdit>
                <button type="button" class="btn primaryColor"
                    (click)="onAdd()">إضافة</button>
            </ng-template>
        </div>
    </div>
</form>

<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>اسم المرض</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <div class="primaryColor btn loading" *ngIf="isLoading">
            <app-loading-image></app-loading-image>
        </div>
        <tbody *ngIf="!isLoading">
            <tr *ngFor="let disease of diseases; let index = index">
                <td>{{ index + 1 }}</td>
                <td>{{ disease.name }}</td>
                <td>
                    <button class="table-btn" id="icon-edit"
                        (click)="Edit(disease)">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button class="table-btn" id="icon-delete"
                        (click)="deleteDisease(disease.diseaseId)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!isLoading && diseases.length === 0" class="no-data">
        <p>No diseases found.</p>
    </div>
</div>
