<table>
    <thead>
        <tr>
            <th>#</th>
            <th>رقم الطلب</th>
            <th>اسم الممرض</th>
            <th>التاريخ</th>
            <th>حالة الطلب</th>
            <th>عرض</th>
        </tr>
    </thead>
    <div class="loading primaryColor btn"
    *ngIf="isLoading"><app-loading-image></app-loading-image></div>
<tbody *ngIf="!isLoading">
    <tr
        *ngFor="let order of orders let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ order.emergencyOrderId }}</td>
        <td>{{ order.nurseName}}</td>
        <td>{{ (order.sendDate | date: 'yyyy-MM-dd')}}</td>
        <td *ngIf="order.isApprove"><span class="successColor">تم الموافقة</span></td>
        <td *ngIf="order.isApprove==false"><span class="errorColor">تم الرفض</span></td>
        <td *ngIf="order.isApprove==null"><span class="waitColor">انتظار الرد</span></td>
        <td>
            <button
            class="table-btn"
            id="icon-edit"
            (click)=" onViewDetails(order)">
            <i class="bi bi-eye"></i>
        </button>
        </td>
    </tr>
</tbody>
</table>

<app-emergency-item-dialog
*ngIf="showOrderDialog"
[Order]="selectedOrder"
(close)="closeAll()"> 
</app-emergency-item-dialog>