<nav class="navbar">
    <ul>
        <li *ngIf="roles().includes('Admin')">
            <a [routerLink]="['/user-pages/admin-page']"
                routerLinkActive="active">Admin</a>
        </li>
        <li *ngIf="roles().includes('Manager')">
            <a [routerLink]="['/user-pages/manager-page']"
                routerLinkActive="active">Manager</a>
        </li>
        <li *ngIf="roles().includes('Receptionist')">
            <a [routerLink]="['/user-pages/reception-page']"
                routerLinkActive="active">Reception</a>
        </li>
        <li *ngIf="roles().includes('Doctor')">
            <a [routerLink]="['/user-pages/clinic-page']"
                routerLinkActive="active">Clinic</a>
        </li>
        <li *ngIf="roles().includes('Nurse Male')">
            <a [routerLink]="['/user-pages/emergency-male-page']"
                routerLinkActive="active">Emergency Male</a>
        </li>
        <li *ngIf="roles().includes('Nurse Female')">
            <a [routerLink]="['/user-pages/emergency-female-page']"
                routerLinkActive="active">Emergency Female</a>
        </li>
        <li *ngIf="roles().includes('Pharmacist')">
            <a [routerLink]="['/user-pages/pharmacy-page']"
                routerLinkActive="active">Pharmacy</a>
        </li>
    </ul>
</nav>
