<nav class="navbar">
    <ul>
        <li *ngIf="roles().includes('Admin')">
            <a [routerLink]="['/user-pages/admin-page']"
                routerLinkActive="active">Admin</a>
        </li>
        <li *ngIf="roles().includes('Manager')">
            <a [routerLink]="['/user-pages/manager-page']"
                routerLinkActive="active">الإدارة</a>
        </li>
        <li *ngIf="roles().includes('Receptionist')">
            <a [routerLink]="['/user-pages/reception-page']"
                routerLinkActive="active">الإستقبال</a>
        </li>
        <li *ngIf="roles().includes('Doctor')">
            <a [routerLink]="['/user-pages/clinic-page']"
                routerLinkActive="active">العيادة</a>
        </li>
        <li *ngIf="roles().includes('Nurse Male')">
            <a [routerLink]="['/user-pages/emergency-male-page']"
                routerLinkActive="active">طوارئ الذكور</a>
        </li>
        <li *ngIf="roles().includes('Nurse Female')">
            <a [routerLink]="['/user-pages/emergency-female-page']"
                routerLinkActive="active">طوارئ الإناث</a>
        </li>
        <li *ngIf="roles().includes('Pharmacist')">
            <a [routerLink]="['/user-pages/pharmacy-page']"
                routerLinkActive="active">الصيدلية</a>
        </li>
    </ul>
</nav>
