<div class="content">
    <form>
        <div class="Box-grid">
            <div id="medicalConditionList">
                <label for="search" class="text-type">المرض:</label>
                <app-multi-select-dropdown
                placeHolder="مرض"
                [options]="diseases"
                [selectedOptions]="selectedDiseases"
                (selectedChange)="onDiseasesChange($event)">
                </app-multi-select-dropdown>
            </div>
            <div id="treatmentList">
                <label for="search" class="text-type">العلاج:</label>
                <app-multi-select-dropdown
                placeHolder="علاج"
                [options]="medicines"
                [selectedOptions]="selectedMedicines"
                (selectedChange)="onMedicinesChange($event)">
                </app-multi-select-dropdown>
            </div>
        </div>
        <div class="footer-btn">
            <ng-container *ngIf="saving; else notSaving">
                <div class="btn primaryColor">
                    <app-loading-image></app-loading-image>
                </div>
            </ng-container>
            <ng-template #notSaving >
                    <button type="btn" class="btn primaryColor" (click)="onSubmit()">حفظ</button>
            </ng-template>
        </div>
    </form>
</div>