<div class="content">
    <form (keydown.enter)="$event.preventDefault()">
        <div class="Box-grid">
            <div id="medicalConditionList">
                <h6 class="text-type">المرض:</h6>
                <app-multi-select-dropdown
                    placeHolder="مرض"
                    [options]="diseases"
                    [selectedOptions]="selectedDiseases"
                    (selectedChange)="onDiseasesChange($event)">
                </app-multi-select-dropdown>
            </div>
            <div id="treatmentList">
                <h6 class="text-type">العلاج:</h6>
                <app-multi-select-dropdown 
                    [options]="medicines"
                    [selectedOptions]="selectedMedicines"
                    (selectedChange)="onMedicinesChange($event)"
                    placeHolder="إجراء">
                </app-multi-select-dropdown>
            </div>
        </div>

        <!-- Show error message -->
        <p *ngIf="errorMassage" class="errorColor">{{ errorMassage }}</p>

        <div class="footer-btn">
            <ng-container *ngIf="saving; else notSaving">
                <div class="btn primaryColor">
                    <app-loading-image></app-loading-image>
                </div>
            </ng-container>
            <ng-template #notSaving>
                <!-- Allow user to click "Save" and trigger validation -->
                <button
                    type="button"
                    class="btn primaryColor"
                    (click)="onSubmit()">
                    حفظ
                </button>
            </ng-template>
        </div>
    </form>
</div>
