<div *ngIf="!selectedCard()" class="card-box whiteColor shadowColor" id="cardForm">
    <h1>الذكور</h1>
    <div class="card" id="card-1" (click)="showComponent('emergency-male-table')">
        <h3>سجل الطوارئ</h3>
    </div>
    <div class="card" id="card-2" (click)="showComponent('emergency-male-order')">
        <h3>طلب علاجات</h3>
    </div>
</div>

<div *ngIf="selectedCard() === 'emergency-male-table'">
    <app-emergency-table (resetEvent)="handleReset()"></app-emergency-table>
</div>
<div *ngIf="selectedCard() === 'emergency-male-order'">
    <app-emergency-order (resetEvent)="handleReset()"></app-emergency-order>
</div>

