<div class="nav-box">
    <h1>الصيدلية</h1>
    <!-- Radio Inputs -->
    <input
        type="radio"
        name="slider"
        id="tabP-1"
        (change)="selectTab('prescription')"
        checked />
    <input
        type="radio"
        name="slider"
        id="tabH-2"
        (change)="selectTab('orders')" />

        
    <!-- Navigation Labels -->
    <nav>
        <label for="tabP-1" class="tab-1">الوصفات الطبية</label>
        <label for="tabH-2" class="tab-2">طلبات الطوارئ</label>
        <div class="slider primaryColor"></div>
    </nav>
</div>
