<div class="Box-grid">
    <!-- Blood Type -->
    <div id="bloodTypeList">
        <label for="bloodTypeDropdown" class="text-type">زمرة الدم:</label>
        <app-dropdown-list
            id="bloodTypeDropdown"
            placeHolder="زمرة الدم"
            [options]="['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']"
            [selectedOptions]="patient?.bloodType || ''"
            (selectedChange)="onBloodTypeChange($event)">
        </app-dropdown-list>
    </div>

    <!-- Allergy -->
    <div id="allergyList">
        <label for="allergyDropdown" class="text-type">حساسية:</label>
        <app-multi-select-dropdown
            id="allergyDropdown"
            placeHolder="حساسية"
            [options]="allergy"
            [selectedOptions]="patient?.allergy || []"
            (selectedChange)="onAllergyChange($event)">
        </app-multi-select-dropdown>
    </div>

    <!-- Chronic Diseases -->
    <div id="medicalConditionList">
        <label for="chronicDiseaseDropdown" class="text-type">الأمراض
            المزمنة:</label>
        <app-multi-select-dropdown
            id="chronicDiseaseDropdown"
            placeHolder="مرض"
            [options]="chDiseases"
            [selectedOptions]="patient?.chDisease || []"
            (selectedChange)="onChronicDiseasesChange($event)">
        </app-multi-select-dropdown>
    </div>

    <!-- Medications -->
    <div id="treatmentList">
        <label for="medicationsDropdown" class="text-type">الدواء:</label>
        <app-multi-select-dropdown
            id="medicationsDropdown"
            placeHolder="دواء"
            [options]="medicines"
            [selectedOptions]="patient?.medicine || []"
            (selectedChange)="onMedicationsChange($event)">
        </app-multi-select-dropdown>
    </div>

    <!-- Hepatitis Vaccine -->
    <div class="box">
        <h3>هل تم أخذ مطعوم الكبد الوبائي؟</h3>
        <div class="radio-inputs">
            <label class="radio" for="vaccineYes">
                <input
                    type="radio"
                    id="vaccineYes"
                    name="hepatitis-vaccine"
                    [value]="1"
                    [(ngModel)]="vaccineStatus"
                    >
                <span class="name">نعم</span>
            </label>
            <label class="radio" for="vaccineNo">
                <input
                    type="radio"
                    id="vaccineNo"
                    name="hepatitis-vaccine"
                    [value]="0"
                    [(ngModel)]="vaccineStatus"
                    >
                <span class="name">لا</span>
            </label>
        </div>
    </div>

    <!-- <div *ngIf="vaccineStatus === 1" class="custom-file-picker">
            <label for="file-upload" class="text-type btn primaryColor">
                قم برفع صورة شهادة المطعوم: <i class="bi bi-upload"></i>
            </label>
            <input type="file" id="file-upload"
                (change)="onFileSelected($event)">
            <span class="file-name" *ngIf="selectedFileName">{{ selectedFileName
                }}</span>
        </div> -->
</div>

<!-- Save Button -->
<div class="footer-btn">
    <button type="button" class="btn primaryColor"
        (click)="onSubmit()">حفظ</button>
</div>
