/* Input box styling */
.input-box {
    display: flex;
    flex-direction: row;
}

.input-box input {
    width: 300px;
    background-color: #f0f0f0;
    border: 1px solid #4d95a7;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    text-align: center;
    direction: ltr;
}
td { 
    direction: ltr;
}
.header-btn{
    align-items: flex-end;
}

.closeColor{
    margin-right: 10px;
}
.header-input {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: max-content;
}

.loading{
    justify-self: center;
    align-self: center;
    width: 80px;
}

.no-data{
    align-self: center;
    justify-self: center;
    color: #4d95a7;
}
.primaryColor{
    margin-right: 5px;
}