<div class="model-boxShadow" (click)="closeDialog()"></div>
<div class="model whiteColor">
    <div class="model-content whiteColor">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>اليوم</th>
                    <th>التاريخ</th>
                    <th>وقت الحضور</th>
                    <th>وقت المغادرة</th>
                </tr>
            </thead>
            <div class="primaryColor btn loading" *ngIf="isLoading"><app-loading-image></app-loading-image></div>
            <tbody>
                <tr *ngFor="let record of formattedRecords let i = index">
                    <td>{{ i+ 1 }}</td>
                    <td>{{record.day }}</td>
                    <td>{{record.date}}</td>
                    <td>{{record.enterTime}}</td>
                    <td>{{record.leaveTime=='Invalid Date'? '-' : record.leaveTime}}</td>
                </tr>
            </tbody>
            <div *ngIf="isLoading==false && formattedRecords.length==0" class="no-data">
                سجل الحضور فارغ.
                </div>
        </table>
        <div class="footer-btn">
            <button class="btn closeColor"
            (click)="closeDialog()">إغلاق</button>
        </div>
    </div>
</div>